* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
margin-left:10px;
}
header {
    border-bottom: 2px solid black;
}
.pincopallo {
    padding: 30px;
    border: 3px solid black;
    margin: 20px;
}

footer {
    border-top: 3px solid black;
    padding-bottom: 30px;
    
}