* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#h1 {
margin-left: 120px;
border-bottom: 10px solid black;
}
.pincopallo {
    padding: 30px;
    border: 4px solid black;
    margin: 30px;
}

#footer {
    border-top: 10px solid black;
}