* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid black;
    padding:10px
}
.pincopallo {
    padding: 30px;
    border: 3px solid black;
    margin: 20px;
}

footer {
    border-top: 3px solid black;
    padding-bottom: 30px;
    padding-left:10px;
    
}
